<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple Search Engine using Python</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  <!--<script src="../static/js/bootstrap.min.js"></script>-->


</head>

<body>



        <div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal brand"><a href="/"> Search Engine</a></h5>

        </div>
        <div class="p-3 p-md-5 text-white bg-dark content_block">

            <div class="simFormContainer itemsbased">
                <form name="search" action="/searchresult/" class="form-inline">
                    <input class="inputbox" name="q" placeholder="Enter Your Search Tarm" >
                    <input type="submit" class="btn btn-primary" value="Search">
                </form>
            </div>

            <div class="searchResult">
                <h2>Search Result for "{{input}}"</h2>
                {{result}}
            </div>
        </div>


        <footer class="blog-footer  bg-white align-items-center">
            <p>&copy; Clustering system by Bishwajit Halder</p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../static/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>